body {
  background: #EEF9BF;
}

header {
  width: 100%;
  height: auto;
  margin: 40px auto;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  text-align: center;

  color: #75B79E;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  width: 100%;
  height: auto;
}

.card {
  position: relative;
  width: 120px;
  aspect-ratio: 3/4;

  transform-style: preserve-3d;
  transition: all 400ms ease;

  
  border: 1px solid #99CEA8;
  border-radius: 5px;

  margin: 20px;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #A7E9AF;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

  

.front {
  background-image: url('../img/bobrossparrot.gif');
  transform: rotateY(180deg);
}

.back {
  background-image: url('../img/back.png');
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}